/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ComputerName]
      ,[OperatingSystem]
      ,[OperatingSystemServicePack]
      ,[CAName]
      ,[DNSName]
      ,[CAType]
      ,[PingAdmin]
      ,[Ping]
      ,[UTCMonitored]
      ,[CrlPublishStatus]
      ,[DeltaCrlPublishStatus]
      ,[IsError]
      ,[ManageStatus]
      ,[Manager]
      ,[ManageScript]
      ,[ManageDate]
  FROM [ADSysMon].[dbo].[TB_dotnetsoft_co_kr_ADCSServiceAvailability]
  order by UTCMonitored desc