/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ComputerName]
      ,[frssysvol]
      ,[OperatingSystem]
      ,[OperatingSystemServicePack]
      ,[IsGlobalCatalog]
      ,[IsRODC]
      ,[OperationMasterRoles]
      ,[UTCMonitored]
      ,[IsError]
      ,[ManageStatus]
      ,[Manager]
      ,[ManageScript]
      ,[ManageDate]
  FROM [ADSysMON].[dbo].[TB_dotnetsoft_co_kr_ADDSSysvolShares]
order by UTCMonitored desc