/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ComputerName]
      ,[adtopology]
      ,[OperatingSystem]
      ,[OperatingSystemServicePack]
      ,[IsGlobalCatalog]
      ,[IsRODC]
      ,[OperationMasterRoles]
      ,[UTCMonitored]
      ,[IsError]
      ,[ManageStatus]
      ,[Manager]
      ,[ManageScript]
      ,[ManageDate]
  FROM [ADMON].[dbo].[TB_dotnetsoft_co_kr_ADDSTopology]
  order by UTCMonitored