/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [ComputerName]
      ,[repadmin]
      ,[OperatingSystem]
      ,[OperatingSystemServicePack]
      ,[IsGlobalCatalog]
      ,[IsRODC]
      ,[OperationMasterRoles]
      ,[UTCMonitored]
      ,[IsError]
      ,[ManageStatus]
      ,[Manager]
      ,[ManageScript]
      ,[ManageDate]
  FROM [ADSysMon].[dbo].[TB_dotnetsoft_co_kr_ADDSReplication]
