/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [TimeStamp]
      ,[TimeStamp100NSec]
      ,[Value]
      ,[Path]
      ,[InstanceName]
      ,[ComputerName]
      ,[UTCMonitored]
      ,[ServiceFlag]
      ,[ManageStatus]
      ,[Manager]
      ,[ManageScript]
      ,[ManageDate]
  FROM [ADSysMon].[dbo].[TB_dotnetsoft_co_kr_PERFORMANCE]
    order by UTCMonitored desc